:root{
    --primiaryFontSize:30px;
    --primiaryColor : white ;
    --secondryColor : black ;
    

}
html{
    scroll-behavior: smooth;


}
body{
    background-image: url( ../Images/767036.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;



}
.bachGroundlayer{
    z-index: -2;
    background-color: rgba(0, 0, 0,0.7);


}
/* ---------------------------------------Waiting Layer------------------------------------------------*/
.waitingLayer{
    z-index: 99999999;
}




/* ---------------------------------------NavBar------------------------------------------------ */


nav{
    z-index: 99999999999;

}
nav i{
    color: var(--secondryColor);
}
nav .disappear{
    background-color: var(--secondryColor);
}
nav .appear{
    background-color:var(--primiaryColor) ;
    color :var(--secondryColor) ;  }
nav ul a ,nav label{
    color :var(--primiaryColor) ;

    text-decoration: none;
}
nav .SocialIcons div{
    background-color: var(--primiaryColor);
}
nav   a:hover {
    color: var(--primiaryColor) ;
} 
nav .appear .openIcons span,nav .appear .openIcons  i{
    cursor: pointer;
}
nav p {
    color: var(--primiaryColor);
}

/* Main page */
.waitingLayerApi{
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    background-color: rgba(0, 0, 0, .1);
    z-index: 999;
}
.mainShow h2 {
color: var(--primiaryColor);
 
}
.mainShow .cardArea{

    border: 3px solid var(--primiaryColor);
}
.mainShow .post{
    color: var(--primiaryColor);
}
.mainShow figcaption{
    background-color:rgba(255, 255, 255,0.6);
    color: var(--secondryColor);
}
/* ---------------------------------------figure caption------------------------------------------------ */

section.mainPage figure figcaption{
    position: absolute;
    top: 150%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    transition: 1s  all  ;

}
figcaption h4{
    font-weight:bold ;
}
section.mainPage figure:hover figcaption{
    top:0;

}
/* cursor in the post and figure */
section .post , section figure{
    cursor: pointer;
}
/* ---------------------------------------edition for light mode ------------------------------------------------ */
.search input ,.contact input {
    color: black;
    background-color: white;
}



